In [1]:
# Our employee data - names and their salaries
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
highest_salary = 0
highest_paid_employee = ""

# Check each employee one by one
for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_paid_employee = name
print(f"Highest Salary: {highest_paid_employee} - {highest_salary}")
top_employee = max(employees, key=employees.get)
print(f"Highest Salary: {top_employee} - {employees[top_employee]}")

Highest Salary: Ravi - 75000
Highest Salary: Ravi - 75000